# Simple Elo
A demonstration of the usage of the kristaps class.

In [1]:
import numpy as np
import pandas as pd
from elo import *
import datetime as dt
import kristaps
reload(kristaps)

Import historical game data

In [2]:
data = pd.read_csv('../data/historical_data.csv')

### Predict 300 past games

Creat Kristaps object and train on all but the most recent 300 games.
The training function updates elo ratings based on games that each team won and lost.

In [27]:
K = kristaps.Kristaps() # Initializes all elo ratings to 1500 
K.train_all(data.iloc[:-300], write=0) # Train but don't save elo to pickle file

Estimate outcome of the most recent 300 games based on the trained elo ratings.  Average of 500 simulations.

In [8]:
Aprobs, Bprobs = K.simulate_games(data[-300:], 500)

Check our predictions against actual outcomes; get percent correct.

In [9]:
K.check(Aprobs, Bprobs, data.iloc[-300:])

0.68666666666666665

### Predict today's games

In [21]:
# Create new model based on pre-trained elo dict
# BE AWARE that running this cell will recalculate elo ratings based on yesterday's games and SAVE them to the pickle file.

data = pd.read_csv('../data/all_games.csv')
K = kristaps.Kristaps()
K.train_all(data, write=1)
K.predict_today()

     fran_id      opp_fran  prob  opp_prob
0      Bulls       Hornets    42        58
1     Lakers       Nuggets    17        83
2      Bucks     Grizzlies    36        64
3    Wizards  Timberwolves    57        43
4      Magic         Kings    35        65
5      Hawks         Spurs    17        83
6  Mavericks       Raptors    33        67
7   Clippers          Jazz    38        62

### Predict win/loss over season

In [22]:
K.simulate_seasons()

    Projected L  Projected W          elo       fran_id
28          4.0         12.0  1731.471185      Warriors
23          4.0         13.0  1725.299684         Spurs
29          6.0         11.0  1621.077399       Wizards
21          6.0         10.0  1617.478971       Rockets
2           6.0         11.0  1612.311265     Cavaliers
3           5.0         10.0  1594.920984       Celtics
25          6.0         10.0  1576.296833       Thunder
4           6.0         10.0  1575.721439      Clippers
9           7.0          9.0  1569.342783          Jazz
6           7.0          9.0  1543.923553         Hawks
7           6.0          9.0  1541.586102          Heat
20          7.0          9.0  1529.142512       Raptors
17          7.0          9.0  1519.737714        Pacers
19          7.0          9.0  1518.467252       Pistons
27          9.0          8.0  1499.812614  Trailblazers
5           9.0          7.0  1499.072949     Grizzlies
14          9.0          8.0  1494.536629     Mavericks
0           9.0          8.0  1488.249860         Bucks
16          9.0          7.0  1484.575328       Nuggets
26         10.0          7.0  1477.554025  Timberwolves
1           7.0          9.0  1471.411720         Bulls
8          10.0          6.0  1436.779850       Hornets
18          9.0          7.0  1434.716671      Pelicans
10         10.0          6.0  1399.997945         Kings
13          9.0          6.0  1380.906791         Magic
24         10.0          5.0  1372.677844          Suns
11         11.0          4.0  1367.892114        Knicks
22         11.0          5.0  1359.145172        Sixers
12         12.0          4.0  1303.615224        Lakers
15         13.0          4.0  1252.277587          Nets

In [35]:
K.compare_to_538()

,fran_id,opp_fran,Our prob,Our opp prob,538 prob,538 opp prob,538 spread
2,Bucks,Grizzlies,36,64,37,63,-3.5
0,Bulls,Hornets,42,58,26,74,-6.5
7,Clippers,Jazz,38,62,34,66,-4.0
5,Hawks,Spurs,17,83,14,86,-11.0
1,Lakers,Nuggets,17,83,12,88,-12.5
4,Magic,Kings,35,65,32,68,-4.5
6,Mavericks,Raptors,33,67,29,71,-5.5
3,Wizards,Timberwolves,57,43,46,54,-1.0