In [1]:
import numpy as np
import pandas as pd
import pickle

In [73]:
df = pd.DataFrame.from_csv('all_games.csv', index_col=None)
df.head()

    fran_id  pts   opp_fran  opp_pts game_location        date
0   Rockets  120      Hawks      104             A  1976-10-21
1   Celtics  129     Pacers      122             A  1976-10-21
2  Clippers  133      Bucks      112             A  1976-10-21
3    Lakers   97     Knicks      102             A  1976-10-21
4     Bulls   95  Cavaliers      106             A  1976-10-22

In [74]:
a = df['pts']
b = df['opp_pts']
df['A Win'] = df['pts']>df['opp_pts']
df['A Win'] = df['A Win'].astype(int)
df[:20]

     fran_id  pts      opp_fran  opp_pts game_location        date  A Win
0    Rockets  120         Hawks      104             A  1976-10-21      1
1    Celtics  129        Pacers      122             A  1976-10-21      1
2   Clippers  133         Bucks      112             A  1976-10-21      1
3     Lakers   97        Knicks      102             A  1976-10-21      0
4      Bulls   95     Cavaliers      106             A  1976-10-22      0
5       Nets  104      Warriors      103             A  1976-10-22      1
6    Nuggets  123        Pacers      110             A  1976-10-22      1
7    Pistons   99         Kings       96             A  1976-10-22      1
8       Suns   98          Jazz      111             A  1976-10-22      0
9      Spurs  121        Sixers      118             A  1976-10-22      1
10    Lakers  103       Wizards       84             A  1976-10-22      1
11    Sixers  105      Clippers      108             A  1976-10-23      0
12    Pacers   97         Bulls      102             A  1976-10-23      0
13     Kings   99       Nuggets      120             A  1976-10-23      0
14   Wizards   98       Pistons       97             A  1976-10-23      1
15      Suns  126       Rockets      129             A  1976-10-23      0
16   Celtics  111         Bucks      107             A  1976-10-23      1
17     Spurs   98        Knicks      117             A  1976-10-23      0
18      Nets  104  Trailblazers      114             A  1976-10-23      0
19     Bucks   91         Hawks      115             A  1976-10-24      0

In [75]:
teams = df['fran_id'].unique()
zeros = np.zeros(df.shape[0])
#print teams

for i in teams:
    #home indices and their points
    indices_home = df[(df['fran_id']==i)].index
    points_home = df[(df['fran_id']==i)].pts
    
    
    #away indices and their points
    indices_away = df[(df['opp_fran']==i)].index
    points_away = df[(df['opp_fran']==i)].pts
    
    #print points_home
    
    #print len(list(indices_home))
    
    # stack the two together and create a df for each team
    ind = (indices_home).tolist() + (indices_away).tolist()
    poi = points_home.tolist() + points_away.tolist()
    #print ind
    #print poi
    teamdf = pd.DataFrame()
    
    teamdf['index'] = ind
    teamdf['points'] = poi
    
    teamdf = teamdf.sort_values('index')
    teamdf = teamdf.reset_index(drop=True)
    teamdf['points'] = pd.rolling_mean(teamdf['points'], 5)
    teamdf.columns = ['index', i]
    teamdf.index = teamdf['index']
    teamdf = teamdf.drop(['index'], axis=1)
    #print teamdf[:20]
    df = df.join(teamdf)
    #print df[-20:]


#print indices

C:\Users\Sterling\Anaconda2\lib\site-packages\ipykernel\__main__.py:31: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=5,center=False).mean()

In [76]:
df = df.fillna(0)
def findFranAverage(row):
    fran = row['fran_id']
    return row[fran]
def findOppAverage(row):
    opp = row['opp_fran']
    return row[opp]
df['Fran_5_PTS'] = df.apply(findFranAverage,axis=1)
df['Opp_5_PTS'] = df.apply(findOppAverage,axis=1)

for i in teams:
    df = df.drop(i, axis=1)
#print df[teams].sum(axis=1)
#print df[:20]

In [86]:
df[-40:]

,fran_id,pts,opp_fran,opp_pts,game_location,date,A Win,Fran_5_PTS,Opp_5_PTS,fran_elo,opp_elo
47490,Bulls,107,Wizards,112,A,2017-03-17,0,103.0,115.6,1471.232204,1593.801799
47491,Trailblazers,113,Hawks,97,A,2017-03-18,1,107.0,104.2,1503.992255,1528.119240
47492,Jazz,86,Bulls,95,A,2017-03-18,0,95.6,97.2,1578.503147,1464.620623
47493,Wizards,93,Hornets,98,A,2017-03-18,0,108.2,98.2,1600.413380,1419.977355
47494,Rockets,109,Nuggets,105,A,2017-03-18,1,109.6,105.6,1605.443447,1501.593658
47495,Bucks,92,Warriors,117,A,2017-03-18,0,96.8,95.0,1495.916813,1735.782651
47496,Cavaliers,78,Clippers,108,A,2017-03-18,0,97.0,99.4,1628.752979,1541.283647
47497,Spurs,96,Grizzlies,104,A,2017-03-18,0,96.4,99.4,1714.475304,1528.544616
47498,Kings,94,Thunder,110,A,2017-03-18,0,110.2,107.0,1418.394585,1587.809010
47499,Mavericks,111,Nets,104,A,2017-03-19,1,95.0,112.8,1485.023983,1260.741792
47500,Suns,95,Pistons,112,A,2017-03-19,0,104.2,93.4,1353.890881,1493.803441
47501,Cavaliers,125,Lakers,120,A,2017-03-19,1,98.8,110.2,1616.287284,1290.746907
47502,Trailblazers,115,Heat,104,A,2017-03-19,1,105.0,103.8,1514.685571,1557.080397
47503,Timberwolves,109,Pelicans,123,A,2017-03-19,0,103.4,107.0,1476.194779,1454.021474
47504,Celtics,99,Sixers,105,A,2017-03-19,0,96.0,99.0,1604.518762,1370.915997
47505,Kings,102,Spurs,118,A,2017-03-19,0,104.6,98.4,1412.917790,1699.582213
47506,Pacers,91,Raptors,116,A,2017-03-19,0,86.4,93.6,1513.421771,1538.564834
47507,Wizards,102,Celtics,110,A,2017-03-20,0,103.6,96.6,1585.641501,1588.653442
47508,Hawks,90,Hornets,105,A,2017-03-20,0,102.4,100.0,1517.425923,1434.749234
47509,Nuggets,124,Rockets,125,A,2017-03-20,0,110.6,111.4,1494.496749,1612.540356
47510,Jazz,100,Pacers,107,A,2017-03-20,0,94.8,89.4,1565.337899,1504.144186
47511,Knicks,105,Clippers,114,A,2017-03-20,0,102.2,100.4,1368.367408,1553.749342
47512,Warriors,111,Thunder,95,A,2017-03-20,1,96.8,110.8,1739.800330,1593.285804
47513,Sixers,109,Magic,112,A,2017-03-20,0,100.8,108.2,1386.781317,1379.084864
47514,Pistons,96,Nets,98,A,2017-03-21,0,94.2,109.6,1499.980867,1256.428364
47515,Warriors,112,Mavericks,87,A,2017-03-21,1,102.2,97.4,1745.816691,1489.337411
47516,Clippers,133,Lakers,109,A,2017-03-21,1,105.4,113.2,1558.868273,1288.085226
47517,Suns,97,Heat,112,A,2017-03-21,0,103.6,105.4,1347.713456,1545.866196
47518,Spurs,100,Timberwolves,93,A,2017-03-21,1,101.4,104.4,1702.803924,1465.557445
47519,Grizzlies,82,Pelicans,95,A,2017-03-21,0,94.4,98.4,1543.437707,1464.658808
47520,Bucks,93,Trailblazers,90,A,2017-03-21,1,96.4,101.6,1491.899134,1525.899772
47521,Bulls,120,Raptors,122,A,2017-03-21,0,105.2,99.8,1477.785871,1547.842419
47522,Pacers,100,Celtics,109,A,2017-03-22,0,89.8,100.6,1515.887493,1598.566754
47523,Pistons,95,Bulls,117,A,2017-03-22,0,94.0,101.2,1483.930843,1469.775370
47524,Cavaliers,113,Nuggets,126,A,2017-03-22,0,99.0,112.2,1618.948965,1487.769352
47525,Sixers,97,Thunder,122,A,2017-03-22,0,96.6,109.4,1376.559832,1587.269443
47526,Hornets,109,Magic,102,A,2017-03-22,1,96.8,106.8,1447.084938,1389.306349
47527,Bucks,116,Kings,98,A,2017-03-22,1,101.0,106.8,1502.874639,1409.696079
47528,Knicks,101,Jazz,108,A,2017-03-22,0,104.0,93.4,1363.248476,1553.594592
47529,Hawks,100,Wizards,104,A,2017-03-22,0,101.0,102.8,1505.090219,1575.728190

In [87]:
df.to_csv('contrived_with_elo.csv')

In [78]:
# Get elo dictionary
elodict = pickle.load(open('../elo_dict.p', 'rb'))

# Add columns to dataframe
df['fran_elo'] = np.zeros(len(df))
df['opp_elo'] = np.zeros(len(df))

In [84]:
# Add elo rating for each team for each game

for team in elodict.keys():
    games = df[(df['fran_id']==team) | (df['opp_fran']==team)]
    home_actual_inds = games[(games['fran_id']==team)].index
    away_actual_inds = games[(games['opp_fran']==team)].index

    games.index = range(len(games))
    home_elo_inds = games[(games['fran_id']==team)].index
    away_elo_inds = games[(games['opp_fran']==team)].index

    away_elos = np.array(elodict[team])[away_elo_inds]
    home_elos = np.array(elodict[team])[home_elo_inds]

    df.ix[home_actual_inds,'fran_elo'] = home_elos
    df.ix[away_actual_inds,'opp_elo'] = away_elos